* {
  transition: 0.25s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#split-container {
  display: flex;
}

#split-container > * {
  flex: 1;
}

code {
  background: black;
  color: lime;
  padding: 0.5em;
  border-radius: 0.5em;
}

h1 code {
  padding: 0.1em;
}

button {
  background: lightgrey;
  color: black;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.5em;
}

button:hover {
  background: lime;
}

textarea, .react-markdown {
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

.react-markdown {
  text-align: left;
  background: black;
  display: inline-block
}

.react-markdown code {
  display: inline-block;
}

#ideas .react-markdown > * {
  float: left;
}

.idea-button {
  border: none;
}
