* {
  transition: 0.25s;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#split-container {
  display: flex;
}

#split-container > * {
  flex: 1;
}

.wrap-elements-if-too-wide {
  display: flex;
  flex-wrap: wrap;
}

code {
  background: black;
  color: lime;
  padding: 0.5em;
  border-radius: 0.5em;
  max-width: 50em;
  word-wrap: break-word;
}

.react-markdown pre {
  background: black !important;
  color: lime !important;
  margin: 0;
  border-radius: 0.5em;
}

h1 code {
  padding: 0.1em;
}

button {
  background: rgb(37, 39, 41);
  color: whitesmoke;
  padding: 1em;
  font-weight: bold;
  border-radius: 0.5em;
  border: none;
}

button:hover {
  background: lime;
}

textarea {
  min-height: 1em;
  background: rgb(24, 26, 27);
  color: whitesmoke;
  font-size: 1em;
}

textarea,
.react-markdown {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}

textarea:hover,
textarea.expand {
  border-radius: 0;
  min-height: 10em;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.react-markdown {
  text-align: left;
  background: black;
  display: inline-block;
}

.react-markdown code {
  display: inline-block;
}

#ideas .react-markdown > * {
  float: left;
}

.idea-button {
  padding: 0;
  height: 3em;
  border: none;
}

.vertical-row > * {
  display: block;
}
