:root {
  --main-color: #282c34;
  --neumorphic-shadows: -3px -3px 3px 0 rgba(255, 255, 255, 0.1),
    3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

html {
  background: var(--main-color);
}

body {
  background: var(--main-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
